@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

*  {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Jost', sans-serif;
}

.flex   {
    display: flex;
}

a   {
    text-decoration: none;
    color: white;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9vw;
    text-align: center;
    text-transform: uppercase;
}

.trapezoid    {
    justify-content: center;
    align-content: center;
    width: 50vw;
    height: 100vh;
}

.logo-container {
    position: relative;
    margin-bottom: 2vh;
}

.container  {
    position: relative;
    flex-direction: column;
}




.wrapper    {
    position: absolute;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

/*Круг*/

.circle {
    position: relative;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin: 1px;
    padding: 2vw;
    z-index: 4;
    width: 15vw;
    height: 15vw;
    -moz-border-radius: 10vw;
    -webkit-border-radius: 10vw;
    border-radius: 10vw;
    background-color: white;
}


/*Треугольник*/

.triangle   {
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 25vw;
    bottom: 0;
    z-index: 0;
    width: 50vw;
    height: 50vh;
    justify-items: center;
    background-image: url('../img/jpg/triangle.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden; 
    /*clip-path: polygon(50% 0%, 0% 100%, 100% 100%); точки фигуры в системе координат*/
}

.triangle:hover::before   {
    content: "";
    position: absolute;
    bottom: 0;
    width: 50vw;
    height: 50vh;
    overflow: hidden;
    background: rgba(1, 0, 41, 0.8);
}

.triangle-container {
    position: relative;
    top: 15%;
}



/*Верхняя левая трапеция*/

.trapezoid-topleft  {
    position: absolute;
    z-index: 1;
    margin-right: 1px;
    top: 0;
    left: 0;
    height: 50vh;
    overflow: hidden;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 50%);
    background-image: url('../img/jpg/left-top.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.trapezoid-topleft:hover::before    {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 50vh;
    overflow: hidden;
    background: rgba(1, 0, 41, 0.8);
}




/*Верхняя правая трапеция*/

.trapezoid-topright {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    height: 50vh;
    overflow: hidden;
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 100%);
    background-image: url('../img/jpg/right-top.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.trapezoid-topright:hover::before   {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    height: 50vh;
    overflow: hidden;
    background: rgba(1, 0, 41, 0.8);
}


/*Нижняя левая трапеция*/

.trapezoid-bottomleft   {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    margin-right: 1px;
    width: 51vw;
    height: 76vh;
    overflow: hidden;
    clip-path: polygon(0% 0%, 100% 32%, 53% 100%, 0% 100%);
    background-image: url('../img/jpg/left-bottom.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.trapezoid-bottomleft:hover::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 51vw;
    height: 76vh;
    overflow: hidden;
    background: rgba(1, 0, 41, 0.8);
}

/*Нижняя правая трапеция*/

.trapezoid-bottomright  {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    width: 51vw;
    height: 76vh;
    overflow: hidden;
    clip-path: polygon(0% 32%, 100% 0%, 100% 100%, 47% 100%);
    background-image: url('../img/jpg/right-bottom.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.trapezoid-bottomright:hover::before    {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 51vw;
    height: 76vh;
    overflow: hidden;
    background: rgba(1, 0, 41, 0.8);
}

.topleft-container, .topright-container {
    top: 3.813rem;
}

.topleft-container  {
    left: 15vw;
}

.topright-container {
    right: 13vw;
}

.bottomleft-container, .bottomright-container   {
    top: 25vh;
}

.bottomleft-container   {
    right: 2vw;
}

.bottomright-container  {
    left: 2vw;
}

.star  {
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background: rgb(255, 255, 255);
    clip-path: polygon(49.5% 0%, 50% 0%, 50% 46%, 100% 24%, 100% 25%, 50% 47%, 73% 100%, 72.4% 100%, 50% 49%, 27.6% 100%, 27% 100%, 48.8% 50%, 49% 48%, 0% 25%, 0% 24%, 49.5% 47%);
}